.userinfo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
}
.userinfo .item {
  margin-bottom: 20px;
}
.userinfo .item .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.userinfo .item .avatar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.userinfo .item .avatar .avatarUrl {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.userinfo .item .avatar .desc {
  font-size: 16px;
  color: #666;
}
.userinfo .item .avatar .desc .filePicker .upload {
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
}
